In [2]:
import pandas as pd
import numpy as np

In [3]:
path = "C:/Users/HANNAH/Documents/personal-projects/PythonCourse/Assessment/Africa_Quantity.csv"
df = pd.read_csv(path)
df_copy = df.copy()

In [4]:
df_copy.isna().sum()

Land Area       0
Trade flow      0
Commodity       0
2000            0
S_2000        131
2001            0
S_2001        127
2002            0
S_2002        130
2003            0
S_2003        139
2004            0
S_2004        128
2005            0
S_2005        131
2006            0
S_2006        124
2007            0
S_2007        141
2008            0
S_2008        142
2009            0
S_2009        135
2010            0
S_2010        135
2011            0
S_2011        132
2012            0
S_2012        134
2013            0
S_2013        129
2014            0
S_2014        123
2015            0
S_2015        109
dtype: int64

In [5]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 35 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Land Area   219 non-null    object
 1   Trade flow  219 non-null    object
 2   Commodity   219 non-null    object
 3   2000        219 non-null    int64
 4   S_2000      88 non-null     object
 5   2001        219 non-null    int64
 6   S_2001      92 non-null     object
 7   2002        219 non-null    int64
 8   S_2002      89 non-null     object
 9   2003        219 non-null    int64
 10  S_2003      80 non-null     object
 11  2004        219 non-null    int64
 12  S_2004      91 non-null     object
 13  2005        219 non-null    int64
 14  S_2005      88 non-null     object
 15  2006        219 non-null    int64
 16  S_2006      95 non-null     object
 17  2007        219 non-null    int64
 18  S_2007      78 non-null     object
 19  2008        219 non-null    int64
 20  S_2008      77 non-null     object
 21  2009        219 non-null    int64
 22  S_2009      84 non-null     object
 23  2010        219 non-null    int64
 24  S_2010      84 non-null     object
 25  2011        219 non-null    int64
 26  S_2011      87 non-null     object
 27  2012        219 non-null    int64
 28  S_2012      85 non-null     object
 29  2013        219 non-null    int64
 30  S_2013      90 non-null     object
 31  2014        219 non-null    int64
 32  S_2014      96 non-null     object
 33  2015        219 non-null    int64
 34  S_2015      110 non-null    object
dtypes: int64(16), object(19)
memory usage: 60.0+ KB

In [6]:
for col in df_copy.columns:
    if "S" in col:
        del(df_copy[col])
df_copy

,Land Area,Trade flow,Commodity,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Algeria,Export,Crustaceans,854,819,916,871,862,1057,922,709,643,525,364,411,286,219,218,211
1,Algeria,Export,Fish,187,259,977,307,215,223,500,618,994,793,457,109,277,317,339,308
2,Algeria,Import,Crustaceans,23,21,128,176,415,448,304,612,597,953,1009,1269,1619,1835,1932,1518
3,Algeria,Import,Fish,7434,7426,10389,20923,22053,19481,22280,19508,16719,26442,28127,27081,26391,29121,39576,41075
4,Angola,Export,Crustaceans,630,834,1951,346,363,1189,1562,1405,899,916,1059,619,1388,1609,1365,1683
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,Zambia,Import,Fish,1327,906,2120,3407,3961,5796,3867,4635,3435,3261,4426,8412,17902,33017,55642,78047
215,Zimbabwe,Export,Crustaceans,1,2,2,0,2,0,0,2,0,0,0,0,3,0,0,0
216,Zimbabwe,Export,Fish,816,936,712,520,708,563,805,1439,1487,966,1137,2056,2516,3255,5878,4972
217,Zimbabwe,Import,Crustaceans,79,41,61,28,53,171,48,29,16,11,19,32,32,67,63,83
218,Zimbabwe,Import,Fish,7453,3062,1494,952,2636,825,3472,1939,2273,3379,9968,13572,15513,17277,18053,21148

In [80]:
# df_copy.to_csv("Africa_aqua.csv", index = False)

# What year had the highest export

In [11]:
year_list = ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
export_df = df_copy[df_copy['Trade flow'] == 'Export']
group_export = export_df.groupby(['Trade flow']) [year_list].sum().reset_index()
group_transpose = group_export.set_index("Trade flow").T.rename_axis("Year")
group_transpose.columns = ["Export Quantity"]
max_export = group_transpose.sort_values(by = "Export Quantity", ascending = False).head()
max_export["Export Quantity"].idxmax()
# max_export.to_csv("year_with_the_highest_export.csv", index = True)

'2015'

# What was the highest exported commodity in 2015

In [13]:
year_list = ['2015']
export_df = df_copy[df_copy['Trade flow'] == 'Export']
group_commodity = export_df.groupby(['Commodity']) [year_list].sum().reset_index()
group_commodity.columns = ["Commodity", "2015 Export"]
max_export = group_commodity.sort_values(by = "2015 Export", ascending = False).head()
max_export = group_commodity.iloc[group_commodity["2015 Export"].idxmax()]
max_export["Commodity"]
# max_export
# max_export.to_csv("2015_highest_exported_commodity.csv", index = True)

'Fish'

# What country had the highest export in 2015

In [41]:
year_list = ['2015']
export_df = df_copy[df_copy['Trade flow'] == 'Export']
group_country = export_df.groupby(['Land Area']) [year_list].sum().reset_index()
group_country.columns = ["Country", "2015 Export"]
max_export = group_country.iloc[group_country["2015 Export"].idxmax()]
max_export["Country"]
# max_export = group_country.sort_values(by = "2015 Export", ascending = False).head()
# max_export

'Namibia'

# What country had the highest export of fish in 2015

In [28]:
year_list = ['2015']
export_df = df_copy[df_copy['Trade flow'] == 'Export']
fish_df = export_df[export_df['Commodity'] == 'Fish']
group_fish = fish_df.groupby(['Land Area']) [year_list].sum().reset_index()
group_fish.columns = ["Country", "Fish Export 2015"]
max_fish = group_fish.loc[group_fish["Fish Export 2015"].idxmax()]
max_fish.Country
# max_fish = group_fish.sort_values(by = "Fish Export 2015", ascending = False).head()
# max_fish

'Namibia'

# What year had the highest Import

In [21]:
year_list = ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
import_df = df_copy[df_copy['Trade flow'] == 'Import']
group_import = import_df.groupby(['Trade flow']) [year_list].sum().reset_index()
group_transpose = group_import.set_index("Trade flow").T.rename_axis("Year")
group_transpose.columns = ["Import Quantity"]
max_export = group_transpose.sort_values(by = "Import Quantity", ascending = False).head()
max_export["Import Quantity"].idxmax()
# max_export.to_csv("year_highest_import.csv", index = True)

'2014'

# What was the highest imported commodity in 2014

In [27]:
year_list = ['2014']
import_df = df_copy[df_copy['Trade flow'] == 'Import']
group_commodity = import_df.groupby(['Commodity']) [year_list].sum().reset_index()
group_commodity.columns = ["Commodity", "2014 Import"]
max_import = group_commodity.sort_values(by = "2014 Import", ascending = False).head()
max_import = group_commodity.iloc[group_commodity["2014 Import"].idxmax()]
max_import["Commodity"]

'Fish'

# What country had the highest import in 2014

In [29]:
year_list = ['2014']
import_df = df_copy[df_copy['Trade flow'] == 'Import']
group_country = import_df.groupby(['Land Area']) [year_list].sum().reset_index()
group_country.columns = ["Country", "2014 Import"]
max_import = group_country.sort_values(by = "2014 Import", ascending = False).head()
max_import = group_country.iloc[group_country["2014 Import"].idxmax()]
max_import["Country"]

'Nigeria'

# What country had the highest import of fish in 2014

In [31]:
year_list = ['2014']
import_df = df_copy[df_copy['Trade flow'] == 'Import']
fish_df = import_df[import_df['Commodity'] == 'Fish']
group_fish = fish_df.groupby(['Land Area']) [year_list].sum().reset_index()
group_fish.columns = ["Country", "Fish Import 2014"]
max_fish = group_fish.sort_values(by = "Fish Import 2014", ascending = False).head()
max_fish = group_fish.loc[group_fish["Fish Import 2014"].idxmax()]
max_fish.Country

'Nigeria'

# What commodity had the highest export

In [35]:
year_list = ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
export_df = df_copy[df_copy['Trade flow'] == 'Export']
group_export = export_df.groupby(['Commodity']) [year_list].sum().reset_index()
group_export["Total Export"] = group_export.apply(lambda x: pd.to_numeric(x, errors = "coerce")).sum(axis = 1)
group_export.drop(group_export.iloc[:, 1:17], inplace = True, axis = 1)
max_export = group_export.sort_values(by = "Total Export", ascending = False).head()
max_export = group_export.loc[group_export["Total Export"].idxmax()]
max_export["Commodity"]
# max_export.to_csv("commodity_highest_export.csv", index = True)

'Fish'

# What commodity had the highest import

In [36]:
year_list = ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
import_df = df_copy[df_copy['Trade flow'] == 'Import']
group_import = import_df.groupby(['Commodity']) [year_list].sum().reset_index()
group_import["Total Import"] = group_import.apply(lambda x: pd.to_numeric(x, errors = "coerce")).sum(axis = 1)
group_import.drop(group_import.iloc[:, 1:17], inplace = True, axis = 1)
max_import = group_import.sort_values(by = "Total Import", ascending = False).head()
max_import = group_import.loc[group_import["Total Import"].idxmax()]
max_import["Commodity"]
# max_import.to_csv("commodity_highest_import.csv", index = True)

'Fish'

# What country had the highest export

In [37]:
year_list = ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
export_df = df_copy[df_copy['Trade flow'] == 'Export']
group_export = export_df.groupby(['Land Area']) [year_list].sum().reset_index()
group_export["Total Export"] = group_export.apply(lambda x: pd.to_numeric(x, errors = "coerce")).sum(axis = 1)
group_export.drop(group_export.iloc[:, 1:17], inplace = True, axis = 1)
max_export = group_export.sort_values(by = "Total Export", ascending = False).head()
max_export = group_export.loc[group_export["Total Export"].idxmax()]
max_export["Land Area"]
# max_export.to_csv("country_highest_export.csv", index = True)

'Namibia'

# What Country had the highest import

In [40]:
year_list = ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
import_df = df_copy[df_copy['Trade flow'] == 'Import']
group_import = import_df.groupby(['Land Area']) [year_list].sum().reset_index()
group_import["Total Import"] = group_import.apply(lambda x: pd.to_numeric(x, errors = "coerce")).sum(axis = 1)
group_import.drop(group_import.iloc[:, 1:17], inplace = True, axis = 1)
max_import = group_import.sort_values(by = "Total Import", ascending = False).head()
max_import = group_import.loc[group_import["Total Import"].idxmax()]
max_import["Land Area"]
# max_import.to_csv("country_highest_import.csv", index = True)

'Nigeria'